.sidebar__menu__item__text 
{
    text-decoration:none;
}
.sidebar__menu__item
{
    text-decoration:none;
}
.sidebar__menu__item__icon
{
    text-decoration:none;

}
.sidebar__menu
{
    text-decoration:none;
}
.sidebar__menu__indicator
{
    text-decoration:none;
}
.sidebar
{
    text-decoration: none;
}
.bx
{
    text-decoration: none;
}